{#- scaffold-repo: { dest: "src/routes/health.{{ 'ts' if use_typescript == 'yes' else 'js' }}" } -#}
// SPDX-FileCopyrightText: {{ year | default('2026') }} {{ author | default('Andy Curtis <contactandyc@gmail.com>') }}
// SPDX-License-Identifier: Apache-2.0
//
// Maintainer: {{ author | default('Andy Curtis <contactandyc@gmail.com>') }}

import { Router } from 'express';
import { getSystemHealth } from '../controllers/health';

const router = Router();

// GET /api/health
router.get('/', getSystemHealth);

export default router;
