{#- scaffold-repo: deps -#}
cmake_minimum_required(VERSION {{ cmake_min_version | default("3.20") }})

# A dynamically generated {{ subproject_block }} project.
project({{ subproject_name }} LANGUAGES {{ subproject_languages | default(language | default("C")) }})

find_library(M_LIB m)

{% for fp in find_packages or [] %}
find_package({{ fp }})
{% endfor %}

# ---- Targets ----
{% for tgt in targets or [] %}
add_executable({{ tgt.name }}
{% for s in tgt.sources %}
  {{ s }}
{% endfor %}
)

target_include_directories({{ tgt.name }} PRIVATE
{% for d in tgt.include_dirs | default([]) %}
  ${CMAKE_CURRENT_SOURCE_DIR}/{{ d }}
{% endfor %}
)

set_target_properties({{ tgt.name }} PROPERTIES
  C_STANDARD {{ tgt.c_standard | default(c_standard) | default(17) }}
  C_STANDARD_REQUIRED YES
)
if("CXX" IN_LIST CMAKE_PROJECT_LANGUAGES)
  set_target_properties({{ tgt.name }} PROPERTIES
    CXX_STANDARD {{ tgt.cxx_standard | default(cxx_standard) | default(17) }}
    CXX_STANDARD_REQUIRED YES
  )
endif()

{% if subproject_stack_type != "cmake_app" %}
# Ensure examples running in library stacks link the main library!
if(NOT TARGET {{ project_snake }}::{{ project_snake }})
  find_package({{ project_snake }} CONFIG REQUIRED)
endif()
target_link_libraries({{ tgt.name }} PRIVATE {{ project_snake }}::{{ project_snake }})
{% endif %}

target_link_libraries({{ tgt.name }} PRIVATE
{% for l in link_libraries or [] %}
  {{ l }}
{% endfor %}
)

if(M_LIB)
  target_link_libraries({{ tgt.name }} PRIVATE ${M_LIB})
endif()

if(MSVC)
  target_compile_options({{ tgt.name }} PRIVATE /W4)
else()
  target_compile_options({{ tgt.name }} PRIVATE -Wall -Wextra -Wpedantic)
endif()

install(TARGETS {{ tgt.name }} RUNTIME DESTINATION ${CMAKE_INSTALL_BINDIR})
{% endfor %}
