{#- scaffold-repo: { dest: "src/main.c", updatable: false, on_init: true } -#}
#include <stdio.h>
#include <stdlib.h>

int main(int argc, char *argv[]) {
    printf("Hello from {{ project_name }}!\n");
    return EXIT_SUCCESS;
}
