import { Request, Response } from 'express';
import { checkHealthStatus } from '../services/health';

export const getSystemHealth = async (req: Request, res: Response): Promise<void> => {
  try {
    const healthData = await checkHealthStatus();
    res.status(200).json(healthData);
  } catch (error) {
    res.status(500).json({ error: 'Internal Server Error' });
  }
};